<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions légales</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
        }

        h3 {
            margin-left: 20px;
        }

        p {
            margin-left: 40px;
        }
        </style>
</head>
<body>
  <h1>  Mentions légales </h1>
<h3>Nom et forme juridique de l'entreprise </h3>

<p>GEORGIO</p>
<h3>Numéro de téléphone</h3>

<p>+33695064855</p>
<h3>Adresse e-mail</h3>

<p>lepharaon09@hotmail.fr</p>
<h3>Numéro fiscal local</h3>

<p>70902177005</p>
<h3>Responsable</h3>

<p>GEORGI</p>
<h3>Capital Social</h3>

<p>1000</p>
</body>
</html>