body {
    background-color: #ffffff;
}

.navbar {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;  /* Définir la largeur maximale pour le conteneur */
    margin: 0 auto;     /* Centrer le conteneur */
    padding: 10px 20px;
}

.navbar.sticky {
    background-color: #ffffff;
    padding: 5px 20px;
    opacity: 0.8;
}

.logo img {
    width: 60px;
    margin-top: 20px;
    position: relative;
    left: 0;
    transition: left 0.3s ease;

}

.nav-links {
    list-style: none;
    display: flex;
    /* margin: 0; */
    /* margin-left: 10px; Déplacer les liens vers la droite */
    padding-right: 700px; /* Déplacer les liens vers la gauche */
    
    
}

.nav-links li {
    margin-left: 100px;  /* Ajouter de l'espace entre les liens */
}

.nav-links a {
    padding-bottom: 40px;
    text-decoration: none;
    color: #6C846B;
    font-weight: 500;
    transition: color 0.3s ease;
    font-weight: bold; /* Ajout du style en gras */
    font-family: 'Jacques Francois', serif; /* Applique la police Jacques Francois */
}

.nav-links a:hover {
    color: #f3c623;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.hero {
    position: relative;
    background-image: url('../images/heroImg.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur noire avec 50% d'opacité */
    z-index: -1; /* Place l'overlay derrière le contenu mais au-dessus de l'image */
}
.hero h1 {
    font-size: 10rem;
    margin-bottom: 1px;
    /* font-weight: bold; Ajout du style en gras */
    font-family: 'Jacques Francois Shadow', serif; 
}

.hero h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Italianno', cursive;
    font-size: 8em; /* Ajustez la taille de la police */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.hero button {
    padding: 10px 20px;
    border-radius: 12px;
    width: 300px;
    height: 75px;
    background-color: #0E7331;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 100px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.info h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Jacques Francois', serif;
    /* text-align: center; */
    padding-left: 2rem;
    margin-bottom: 2rem;
    color: #6C846B;
}

.info p {
    font-size: 1.5rem;
    font-family: 'Jacques Francois', serif;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 24rem;
    color: #6C846B;
    
}

.info img {
    width: 500px;
    border-radius: 12px;
    margin-right: 2rem;
}

.carousel-inner img {
    /* padding-left: 30%;
    padding-right: 30%; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-left: 300px;
    margin-right: 300px; */
    
    height: 64rem;
    
    box-shadow: 0 8px 12px rgba(0.4, 0.4, 0.4, 0.4); /* Ombre douce */
    border-radius: 15px; /* Coins arrondis */
}

#carouselExampleControls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-image: url('../images/fond.png');
    position: relative; /* Assurez-vous que les boutons sont positionnés correctement */
    background-size: cover; /* L'image couvrira toute la div */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    padding-left:300px ;
    padding-right:300px ;
    /* height: 500px; Ajustez la hauteur selon vos besoins
} */
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    background-color: silver;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-control-prev {
    left: 100px;
}

.carousel-control-next {
    right: 100px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%); /* Assurez-vous que les icônes sont visibles */

}

.example {
    background-image: url('../images/fond2.jpg');
    margin-top: 90px;
}
.example p {
    font-size: 1.5rem;
    font-family: 'Jacques Francois', serif;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 24rem;
    color: #6C846B;
}
.example h1{
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 2rem;
    color: #6C846B;
}
.category-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
    color: #000;
    gap: 20px;
}

.category-card {
    background-color: #F0EFD5;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    text-align: center;
    align-items: center;
    color: #000;
    margin-left: 70px;
    margin-right: 70px;
    border: 1px #000;
    box-shadow: 3px 3px 10px #4e4e4e;

}
.category-card:hover {
    transform: scale(1.03);
    transition: 200ms;
}

.category-card h2 {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Jacques Francois', serif;
    
    color: #ffffff;
    background-color: #0E7331;
    width: 100%;
    height: 150px;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    padding-top: 7px;

}

.category-card img {
    width: 300px;
    height: 175px;
    height: auto;
    cursor: pointer;
    border-radius: 12px;
}


.horaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.horaires h2 {
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 2rem;
    color: #6C846B;
}

.horaires p {
    font-size: 3rem;
    font-family: 'Jacques Francois', serif;
    text-align: center;
    /* padding-left: 2rem;
    padding-right: 24rem; */
    color: #6C846B;
}
.footer {
    background-color: #F0EFD5;
    color: #6C846B;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Jacques Francois', serif;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Espace entre chaque partie */
    align-items: flex-start; /* Aligner les éléments en haut de la div */
    padding: 20px;
}
.fconatct{
    margin-top: 60px;
}
.fconatct a {
     /* Ajoute du padding pour l'espace intérieur du bouton */
    border-radius: 12px;
    text-decoration: none;
    background-color: #0E7331;
    width: 200px; /* Définit la largeur du bouton */
    height: 50px; /* Définit la hauteur du bouton */
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    display: inline-block; /* Assure que l'élément <a> se comporte comme un bouton */
    text-align: center; /* Centre le texte horizontalement */
    
    transition: background-color 0.3s ease;
}

.fconatct a:hover {
    background-color: #0C5E28; /* Couleur de fond au survol */
}
.coords {
    display: flex;
    flex-direction: column;
    align-items: justify;
    text-align: justify;
    margin-top: 60px;
}


.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-direction: space-between;
    
    margin-top: 60px;
    color: #6C846B;
}

.table-responsive {

    margin-top: 60px;
    margin-left: 0px;
}
/* .table-responsive h1{
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;

    margin-bottom: 2rem;
    color: #6C846B;
} */
.alert{
    margin-top: 60px;
    margin-left: 0px;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mb-3 {
    display: flex;
    justify-content: center;
}
/* Styles pour les messages d'erreur */
.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: #6C846B;
}
.menu-item {
    display: block;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    color: #6C846B;
    font-family: 'Jacques Francois', serif;
}
.menu-item:hover{
    transform: scale(1.03);
    transition: 200ms;
    background-color: #6C846B;
    color: #ffffff;
    cursor: pointer;
    border-radius: 12px;
}
.modal-header {
    display: flex;
    justify-content: center;
    
    text-align: center;
    /* margin-top: 10px; */
    color: #ffffff;
    font-family: 'Jacques Francois', serif;
    background-color: #98aa97;
    
}
.modal-body{
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-top: 10px; */
    color:#6C846B;
    font-family: 'Jacques Francois', serif;
    
}
.modal-body button {
    border-radius: 12px;
    background-color: #0E7331;
    border: none;
    color: #ffffff;
    font-family: 'jacques Francois', serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-name-class,
.custom-phone-class,
.custom-email-class,
.custom-guest-class,
.datetimepicker,
.custom-request-class {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ced4da;
    font-size: 1rem;
}

::placeholder {
    color: #888; /* Couleur du texte du placeholder */
    font-style: italic; /* Style du texte */
    font-size: 0.8rem; /* Taille de la police */
    opacity: 0.5; /* Opacité du texte (1 est complètement visible) */
}
.test {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    text-align: center;
    
    font-family: 'Jacques Francois', serif;
}
.centre {
    color: #ffffff;
    
    display: flex;
    flex: auto;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    /* margin-left: 100px; */
    cursor: pointer; 
    margin: 0, 0, 0, 0;   
    
}
.modal-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-top: 10px; */
    color: #ffffff;
    font-family: 'Jacques Francois', serif;
    background-color: #98aa97;
}
.modal-footer button {

    border-radius: 12px;

    background-color: #c2ccc2;
    border: none;
    color: #ffffff;
    font-family: 'jacques Francois', serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: #6C846B;
    padding-left: 15%;
    padding-right: 15%;
}
.service h1 {
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;
    /* padding-left: 2rem; */
    margin-bottom: 2rem;
    color: #6C846B;
}
.service p {
    font-size: 1.5rem;
    font-family: 'Jacques Francois', serif;
    text-align: center;

    
    color: #6C846B;
}
.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    border-radius: 12px;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.service-card {
    position: relative;
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: 200px; /* Ajustez la taille selon vos besoins */
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0.4, 0.4, 0.4, 0.4); /* Ombre douce */
}

.service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity:0.8; */
    transition: opacity 0.3s ease;
}

.service-card h2 {
    position: absolute;
    background-color:rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
;
    width: 100%;
    height: 50px;
    /* opacity: 0.5; */
    bottom: 0px;
    margin-bottom: 0px;
    
    color:#6C846B;
    z-index: 2;
    text-align: center;
    align-items: center;
}

.service-card .description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.37); /* Fond semi-transparent */
    color: #6C846B;
    opacity: 0;
    font-family: 'jacques Francois', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: opacity 0.3s ease;
}

.service-card:hover img {
    opacity: 0.3; /* Réduit l'opacité de l'image au survol */
}

.service-card:hover .description-overlay {
    opacity: 1; /* Affiche la description au survol */
}

.service-card:hover {
    transform: scale(1.05); /* Agrandit légèrement la carte au survol */
}



@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .nav-links.nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links.nav-active li {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .burger {
        display: flex;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .logo img {
        width: 80px;
        margin-left: 500px;
    }
}