body {
    background-color: #ffffff;
}
.navbar {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;  
    padding: 10px 20px;
}

.navbar.sticky {
    background-color: #ffffff;
    opacity: 0.8;
}

.logo img {
    width: 60px;
    margin-left: 20px;
    position: relative;
    left: 0;
    transition: left 0.3s ease;

}

.nav-links {
    list-style: none;
    display: flex;
    padding-right: 500px;
    
    
}

.nav-links li {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 150px;
    width: 100px;
}

.nav-links a {
    
    text-decoration: none;
    color: #6C846B;
    font-size: 32px;
    transition: color 0.3s ease;
    font-weight: bold;
    font-family: 'Jacques Francois', serif;
}

.nav-links a:hover {
    color: #0E7331;
    transform: scale(1.09);
    transition: 200ms;
    border-radius: 12px;
}



.hero {
    position: relative;
    background-image: url('../images/heroImg.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);/* Couleur noire avec 50% d'opacité */
    z-index: -1;
}
.hero h1 {
    font-size: 160px;
    margin-bottom: 1px;
    font-family: 'Jacques Francois Shadow', serif; 
}
.hero h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 90px;
    font-family: 'Italianno', cursive;
    font-size: 128px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.hero button {
    border-radius: 12px;
    width: 300px;
    height: 75px;
    background-color: #0E7331;
    border: none;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 100px;
}

.hero button:hover {
    transform: scale(1.09);
    transition: 200ms;
    border-radius: 12px;
}
.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.info h2 {
    font-size: 32px;
    font-family: 'Jacques Francois', serif;
    padding-left: 32px;
    margin-bottom: 32px;
    color: #6C846B;
}

.info p {
    font-size: 24px;
    font-family: 'Jacques Francois', serif;
    text-align: justify;
    padding-left: 32px;
    padding-right: 428px;
    color: #6C846B;
    
}

.info img {
    width: 500px;
    border-radius: 12px;
    
    box-shadow: 0 8px 12px rgba(0.4, 0.4, 0.4, 0.6);
    margin-right: 124px;
}
.carousel-item {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    backface-visibility: hidden;
    transition: transform 0.2s ease;
    float:left;
    margin-right: 50px;  
}
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.4);
    width: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
    padding-left:32px ;
    padding-right:32px ;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 12px;
}
.carousel-item img {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    height: 32rem;
    box-shadow: 0 8px 12px rgba(0.4, 0.4, 0.4, 0.4);
    border-radius: 15px;
    cursor: pointer;
}

#carouselExampleControls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-image: url('../images/fond.png');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left:300px ;
    padding-right:300px ;
    padding-top: 32px;
    padding-bottom: 32px;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 128px;
    height: 128px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-control-prev {
    left: 350px;
}

.carousel-control-next {
    right: 350px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%); 
    display: inline-block;
    width: 100%; 
    height: 60%; 
    background-color: transparent; 
    border: none;
    font-size: 4px; 
    color: #6C846B;
    font-weight: bold;

}

.example {
    background-image: url('../images/fond2.jpg');
    margin-top: 90px;
}
.example p {
    font-size: 1.5rem;
    font-family: 'Jacques Francois', serif;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 24rem;
    color: #6C846B;
}
.example h1{
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;
    margin-bottom: 2rem;
    color: #6C846B;
}
.category-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
    color: #000;
    gap: 48px;
}

.category-card {
    background-color: #F0EFD5;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    height: 350px;
    text-align: center;
    align-items: center;
    color: #000;
    /* margin-right: 60px; */
    margin-bottom: 60px;
    /* margin-left: 90px;
     */
    border: 1px #000;
    box-shadow: 3px 3px 10px #4e4e4e;
    cursor: pointer;

}
.category-card:hover {
    transform: scale(1.03);
    transition: 200ms;
}

.category-card h2 {
    margin-top: 32px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Jacques Francois', serif;
    color: #ffffff;
    background-color: #0E7331;
    width: 80%;
    height: 70px;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    padding-top: 10px;
    box-shadow: 3px 3px 10px #4e4e4e;

}


.category-card img {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover; /* Assure que l'image couvre la zone définie tout en conservant son aspect */
    object-position: center; /* Centre l'image dans son conteneur */
    border-radius: 12px;
    flex-grow: 1; /* Permet à l'image de prendre l'espace disponible pour garder le contenu centré */
    cursor: pointer;
    box-shadow: 3px 3px 10px #4e4e4e;
    opacity: 0.8;
}

.category-card img:hover {
    opacity: 1;
}

.horaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.horaires h2 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;
    padding-left: 32px;
    margin-bottom: 32px;
    color: #6C846B;
}

.horaires p {
    font-size: 30px;
    font-family: 'Jacques Francois', serif;
    text-align: center;
    /* padding-left: 2rem;
    padding-right: 24rem; */
    color: #6C846B;
}
.footer {
    background-color: #F0EFD5;
    color: #6C846B;
    /* padding: 20px 0; */
    height: auto;
    text-align: center;
    
    font-family: 'Jacques Francois', serif;
    margin-bottom: 0px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 200px;
}
.footer-bottom{
    background-color: #F0EFD5;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espace entre chaque partie */
    padding-left: 80px;
    padding-right: 80px;
}
.footer-bottom a {
    color: #6C846B;
    font-size: 1.2rem;
    font-family: 'Jacques Francois', serif;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espace entre chaque partie */
    align-items: center; /* Aligner les éléments en haut de la div */
    /* padding: 20px; */
}
.fconatct{
    align-items: center;
    text-align: center;
}
.fconatct a {
     /* Ajoute du padding pour l'espace intérieur du bouton */
    border-radius: 12px;
    box-shadow: 1px 1px 3px #4e4e4e;
    text-decoration: none;
    background-color: #0E7331;
    width: 100px; /* Définit la largeur du bouton */
    height: 30px; /* Définit la hauteur du bouton */
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block; /* Assure que l'élément <a> se comporte comme un bouton */
    text-align: center; /* Centre le texte horizontalement */
    align-items: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.fconatct a:hover {
    background-color: #0C5E28; /* Couleur de fond au survol */
}
.coords {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: justify;
    text-align: justify;
    margin-top: 60px;
}


.socials {
    display: flex;
    flex-direction: space-between;
    gap: 20px;
}
.socials i {
    font-size: 32px;
    color: #6C846B; 
}

.table-responsive {

    margin-top: 60px;
    margin-left: 0px;
}
.alert{
    margin-top: 60px;
    margin-left: 0px;
    z-index: 1100;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mb-3 {
    display: flex;
    justify-content: center;
}
/* Styles pour les messages d'erreur */
.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-title h1 {
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;
    /* padding-left: 2rem; */
    margin-bottom: 2rem;
    color: #6C846B;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #6C846B;
    font-family: 'Jacques Francois', serif;
    font-size: 24px;
}
.contact-form button{
    border-radius: 12px;
    background-color: #0E7331;
    border: none;
    color: #ffffff;
    font-family: 'jacques Francois', serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 200px;
}
.contact-form button:hover {
    transform: scale(1.09);
    transition: 200ms;
    border-radius: 12px;
}
.contact-body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    color:#6C846B;
    font-family: 'Jacques Francois', serif;
}
.menu-item {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    color: #6C846B;
    font-family: 'Jacques Francois', serif;
}
.menu-item:hover{
    transform: scale(1.03);
    transition: 200ms;
    background-color: #6C846B;
    color: #ffffff;
    cursor: pointer;
    border-radius: 12px;
}
.modal-header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Jacques Francois', serif;
    background-color: #98aa97;
    
}
.modal-body{
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color:#6C846B;
    font-family: 'Jacques Francois', serif;
}

.modal-footer button {
    border-radius: 12px;
    background-color: #0E7331;
    border: none;
    color: #ffffff;
    font-family: 'jacques Francois', serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 200px;
    height: 50px;
}

.custom-name-class,
.custom-phone-class,
.custom-motif-class,
.custom-email-class,
.custom-guest-class,
.datetimepicker,
.custom-request-class,.custom-message-class {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ced4da;
    box-shadow: 1px 1px 3px #4e4e4e;
    font-size: 1rem;
    width: 400px;
    font-size: 24px;
}

.custom-motif-class,.datetimepicker{
    color:#6C846B;
    font-family: 'Jacques Francois', serif;  
}
::placeholder {
    color: #888; /* Couleur du texte du placeholder */
    font-style: italic; /* Style du texte */
    font-size: 0.8rem; /* Taille de la police */
    opacity: 0.5; /* Opacité du texte (1 est complètement visible) */
}
.test {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    text-align: center;
    
    font-family: 'Jacques Francois', serif;
}
.centre {
    color: #ffffff;
    
    display: flex;
    flex: auto;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    /* margin-left: 100px; */
    cursor: pointer; 
    margin: 0, 0, 0, 0;   
    
}
.modal-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-top: 10px; */
    color: #ffffff;
    font-family: 'Jacques Francois', serif;
    background-color: #98aa97;
    width: 100%;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: #6C846B;
    padding-left: 15%;
    padding-right: 15%;
}
.service h1 {
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow', serif;
    text-align: center;
    /* padding-left: 2rem; */
    margin-bottom: 2rem;
    color: #6C846B;
}
.service p {
    font-size: 1.5rem;
    font-family: 'Jacques Francois', serif;
    text-align: center;

    
    color: #6C846B;
}
.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    border-radius: 12px;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.service-card {
    position: relative;
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: 400px; /* Ajustez la taille selon vos besoins */
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0.4, 0.4, 0.4, 0.4); /* Ombre douce */
}

.service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity:0.8; */
    transition: opacity 0.3s ease;
}

.service-card h2 {
    position: absolute;
    background-color:rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
    text-align: center;
    width: 100%;
    height: 85px;
    /* opacity: 0.5; */
    bottom: 0px;
    margin-bottom: 0px;
    
    color:#6C846B;
    z-index: 2;
    text-align: center;
    align-items: center;
}

.service-card .description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.37); /* Fond semi-transparent */
    color: #6C846B;
    opacity: 0;
    font-family: 'jacques Francois', serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: opacity 0.3s ease;
}

.service-card:hover img {
    opacity: 0.3; /* Réduit l'opacité de l'image au survol */
}

.service-card:hover .description-overlay {
    opacity: 1; /* Affiche la description au survol */
}

.service-card:hover {
    transform: scale(1.05); /* Agrandit légèrement la carte au survol */
}
.carousel-modal-content {
    background-color: #fff;
    border-radius: .3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    max-width: 100%;
    margin: auto;
}

.carousel-modal-content .modal-body {
    padding: 0;
}


.close-btn {
    display: none;
    position: absolute;
    z-index: 1001; /* Assurez-vous qu'il est au-dessus de la navbar */

    top: 15px;
    right: 20px;
    font-size: 30px;
    color: #6C846B;
    cursor: pointer;
}

.close-btn.show {
    display: block;
}


.badge {
    background-color: red;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 50%;
    font-size: 0.75em;
    vertical-align: middle;
    margin-left: 5px;
}

.error-message {
    border-color: #e3342f;
    font-size: 0.875rem;

    color: #e3342f;
}

.is-invalid {
    border: 2px solid red;
}

.invalid-feedback {
    display: none;
    color: red;
    font-size: 0.9rem;
}

.is-invalid + .invalid-feedback {
    display: block;
}
@media (max-width: 576px) {
    #mySidenav {
        height: 45%; /* Hauteur totale de l'écran */
        width: 100%; /* Largeur initiale fermée */
        position: fixed; /* Positionnement fixe */
        z-index: 2; /* Toujours au-dessus */
        top: 0;
        left: 0;
        background-color: #ffffff; /* Couleur de fond */
        overflow-x: hidden; /* Désactive le défilement horizontal */
        transition: 0.5s; /* Animation de transition */
        padding-top: 60px; /* Espace en haut */
    }
    
    /* Largeur de la sidebar quand elle est active */
    #mySidenav.active {
        width: 250px; /* Largeur quand ouverte */
    }
    
    /* Bouton pour fermer le menu */
    #mySidenav .close-btn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 24px;
        color: #6C846B;
        cursor: pointer;
    }
    
    /* Liens dans le menu */
    #mySidenav .nav-links {
        padding-right: 0px;
        margin-top: 147px;
        z-index: 1;
        color: #6C846B;
        background-color: #ffffff;


    }
    
    #mySidenav .nav-links li {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #6C846B;
        display: contents;
        transition: 0.3s;
        margin-left: 0px;
    }
    
    #mySidenav .nav-links li a {
        text-decoration: none;
        color: #6C846B;
        font-size: 24px;
    }
    
    #mySidenav .nav-links li:hover {
        color: #ce8181;
    }
    
    .navbar {
        position: fixed;
        width: 100%;
        height: 60px;
        background: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25px;
        height: 42px;
    }
    
    .burger div {
        width: 25px;
        height: 3.5px;
        background-color: #6C846B;
        border-radius: 5px;
        margin: 3px;
        transition: 0.3s;
    }
    
    .burger.toggle div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .burger.toggle div:nth-child(2) {
        opacity: 0;
    }
    
    .burger.toggle div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .logo img {
        height: 40px;
    }
.hero {
    height: 73vh;
}
    .hero h1 {
        font-size: 43px;
        margin-bottom: 20px;
    }
    .hero h2 {
        font-size: 60px;
        margin-top: 20px;
    
    }
    .hero p{
        font-size: 32px;
    }
    .hero button {
        width:182px;
        font-size: 30px;
        height: 60px;
        margin-bottom: 80px;
        margin-top: 20px;
    }
    .info {
        flex-direction: column;
        align-items: center;
    }
    .info h2 {
        font-size: 26px;
    }
    .info img {
        width: 75%;
        border-radius: 12px;
        box-shadow: 0 8px 12px rgba(0.4, 0.4, 0.4, 0.6);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .info p {
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 16px;
    }
    .carousel-inner {
        width: 800px;
        padding-left: 0px;
        padding-right: 400px;
    }
    .example {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    }
    .example h1 {
        font-size: 5rem;
        padding-top: 3rem;
        margin-left: 0px;
    }
    #carouselExampleControls {
        padding-left: 50px;
        padding-right: 50px;
    }
    .carousel-item {
        padding-left: 80px;
        padding-right: 80px;
        
    }
    .carousel-item img {
        width: 300px;
        height: 330px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 75px;
        margin-right: 50px;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 50px;
        height: 50px;
        top: 295px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        z-index: 2;
        opacity: 0.5;
        transition: opacity .15s ease;
    }


    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 100%; 
        height: 60%; 

        font-size: 4px; 
    
    }
    .carousel-control-prev {
        left: -8px;
    }
    .carousel-control-next {
        right: -8px;
    }
    .horaires h2 {
        font-size: 34px;
        padding-left: 8px;
    }
    .horaires p {
        font-size: 15px;
    }
    .modal-dialog {
        max-width: 100%;
        margin: 1rem;
    }
    
    .modal{
        top: -60px;
    }
    .modal-body {
        margin-top: 0px;
        font-size: 24px;
    }
    .menu-item h4 {
        font-size: 24px;
        font-weight: bold;
    }
    .menu-item{
        font-size: 16px;
    }
    #modalCarousel .carousel-item img {
        width: 700px;
        height: 32rem;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 225px;
        margin-right: 50px;
    }
    .fade{
        width: 100%;
        height: 100%;
    }



    .modal-content{
        width: 100%;
        
        margin-top: 130px;
    }
    .modal-content img{
        width: 100%;
        height: 100%;
        

    }
.modal-header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal-title{
    font-size: 24px;
    font-family: 'Jacques Francois', serif;
    color: #ffffff;
}

    .custom-name-class,
.custom-phone-class,
.custom-motif-class,
.custom-email-class,
.custom-guest-class,
.datetimepicker,
.custom-request-class,.custom-message-class {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #ced4da;
    box-shadow: 2px 1px 6px #4e4e4e;
    font-size: 32px;
    width: 322px;
    height: 44px;
    font-size: 20px;
}
::placeholder {
    color: #888; /* Couleur du texte du placeholder */
    font-style: italic; /* Style du texte */
    font-size: 20px; /* Taille de la police */
    opacity: 0.5; /* Opacité du texte (1 est complètement visible) */
}

.modal-body label {
    font-size: 20px;
    font-family: 'Jacques Francois', serif;
    color: #6C846B;
}

.modal-footer{
    padding-bottom: 24px;
}

.modal-footer button {
    border-radius: 12px;
    background-color: #0E7331;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-family: 'jacques Francois', serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 48px;
    width: 244px;
}
    /* .carousel-item{
        margin-right: 80px;
        margin-left: -80px;
    } */
    .category-container {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 4rem;
    }
    .category-card {
        width: 278px;
        height: 380px;
        margin-right: 0;
        margin-left: 0px;
    }
    .category-card img{
        width: 100%;
        max-width: 450px;
        max-height: 207px;
    }
    .category-card h2 {
        width: 100%;
        height: 81px;
        font-size: 36px;
    }
    .service h1{
        margin-top: -80px;
        font-size: 36px;
    }
    .service p{
        font-size: 16px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .service-container {
        flex-direction: column;
        margin-top: 40px;
        margin-left: 12.5%;
        width: 278px;
        gap: 56px;
    }
    .service-card {
        width: 100%;
        height: 380px;
        margin-top: 0px;
    }
    .service-card h2 {
        height: 80px;
        font-size: 36px;
        text-align: center;
        padding-top: 8px;
    }
    .description-overlay {
        font-size: 24px;
    }
    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
    }
    .footer p{
        font-size: 12px;
    }
    .footer-bottom p{
        font-size: 8px;
    }
    .footer-bottom a{
        font-size: 8px;
    }
    .coords {
        font-size: 12px;
        margin-top: 0px;
    }
    .footer-bottom{
    padding-left: 5px;
    padding-right: 5px;
    }
    .alert, .alert-error, .alert-success{
        font-size: 1.8rem;
    }
    .contact-form button{
        font-size: 30px;
        width: 264px;
        height: 60px;
        margin-bottom: 40px;
        margin-top: 36px;
    }
    .contact-title h1{
        font-size: 38px;
    }
    .contact-form{
        font-size: 24px;
    }
    .fconatct a{
        font-size: 12px;
        width: 96px;
        height: 29px;
        margin-bottom: 6px;
        padding-top: 5px;
    }
    .socials{
        display: flex;
        justify-content: center;
    }
    .socials i{
        font-size: 16px;
    }
}

/* Écrans moyens (tablettes) */
@media (min-width: 577px) and (max-width: 992px) {
    .navbar .container {
        max-width: 100%;
    }
    .nav-links {
        padding-right: 100px;
    }
    .hero h1 {
        font-size: 120px;
    }
    .hero h2 {
        font-size: 72px;
    }
    .hero button {
        width: 80%;
        font-size: 28px;
    }
    .info {
        flex-direction: column;
    }
    .info img {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .info p {
        padding-right: 40px;
        padding-left: 40px;
    }
    .carousel-inner {
        width: 90%;
    }
    .category-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .category-card {
        width: 45%;
    }
    .service-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .service-card {
        width: 45%;
    }
}
