{% extends 'base.html.twig' %}
{% block body %}

<footer class="footer">
    <div class = "footer-container">
        <div class="socials">
                <a href="https://www.facebook.com/p/Auberge-georgio-100075847345649/?_rdr"><i class="fa-brands fa-facebook" style="color: #6C846B;"></i></a>
                <a href="https://www.instagram.com/auberge_georgio/"><i class="fab fa-instagram" style="color: #6C846B;"></i></a>
        </div>
    <div class="footer-content">
        <div class="coords">
            <p><i class="fas fa-map-marker-alt"></i> 74 rue Auguste Rey 95390 Saint-Prix</p>
            <p><i class="fas fa-phone-alt"></i> 07.65.72.22.88</p>
            <p><i class="fas fa-envelope"></i> lepharaon09@hotmail.fr</p>
        </div>
        <div class="fconatct">
            <a href="{{ path('contact') }}">Contact</a>
        </div>
    </div>
            <div class="footer-bottom">
                <p><a href="#">Mentions légales</a></p>
                <P> &copy; Auberge Georgio | Designed and created by <a href="#">ALTECH</a></P>
                <p> <a href="#">Protection des données</a></p>
            </div>
            </div>
</footer>
{% endblock %}